@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  font-family: 'FRENTE H1';
  } */
  
  .font-frente{
  font-family: 'FRENTE H1';
}
  
  .font-helvetica-neue{
  font-family: 'HELVETICA NEUE';
}
  .font-techno-junk{
  font-family: 'DK TECHNOJUNK';
}

/* ul{
  font-family: 'serif'!important;
} */

@font-face {
  font-family: 'FRENTE H1';
  src: url('./assets/fonts/FrenteH1-Regular.otf');
}
@font-face {
  font-family: 'HELVETICA NEUE';
  src: url('./assets/fonts/HelveticaNeue.ttc');
}
@font-face {
  font-family: 'DK TECHNOJUNK';
  src: url('./assets/fonts/DK-Technojunk.otf');
}